a {
padding: 1em;
}

.div-navbar {
    margin-top: -5em;
}

.illustration-chart{
    width: 90%;
    background-color: white;
    max-width: 50em; /* Beispiel: maximale Breite für die Illustration festlegen */
    margin: 0 auto; /* Zentriere das Element horizontal */
}